<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title style="font-size: 18px;">
      Desarrollo Web: BackEnd
    </ion-title>
    <ion-button slot="end" fill="clear" style="margin:0px;" color="warning" (click)="abrirLogin()">
      <ion-icon name="person-circle" style="font-size: 28px;"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="titulo">
    <h3>PIA</h3>
    <h4>Producto Integrador de Aprendizaje</h4>
  </div>

  <div class="informacion">
    <ion-list lines="none">
      <ion-item detail color="light" *ngFor="let page of pages" [routerLink]="page.url">
        <ion-icon [name]="page.icon" class="iconPage"></ion-icon>
        <ion-label class="menu" color="dark">{{page.title}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>