<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title style="font-size: 18px;">
      Desarrollo Web: BackEnd
    </ion-title>
    <ion-button slot="end" fill="clear" style="margin:0px;" color="warning" (click)="abrirModal()">
      <ion-icon name="information-circle" style="font-size: 28px;"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="titulo">
  <ion-icon name="desktop-sharp" class="iconTitulo"></ion-icon>
  <h3>Tarea 4</h3>
</div>

<div class="informacion">
  Cliente Servidor en Ionic, basado en la Tarea #3. 
  <br><br>Incluye: Lista de entidad, borrar elementos y dar de alta un nuevo elemento.
</div>
</ion-content>