<ion-header [translucent]="true">
  <ion-toolbar color="dark barra">
    <ion-title>
      {{name}}
    </ion-title>
    <ion-button slot="end" fill="clear" style="margin:0px;" color="secondary" [disabled]="addingElement"
      (click)="abrirModal(true, true)">
      <ion-icon *ngIf="!addingElement" [name]="iconAdd" style="font-size: x-large;"></ion-icon>
      <ion-spinner *ngIf="addingElement" name="circles"></ion-spinner>
    </ion-button>

    <ion-button slot="end" fill="clear" style="margin:0px;" color="warning" [disabled]="loading"
      (click)="reloadCurrentPage()">
      <ion-icon *ngIf="!loading" name="refresh"></ion-icon>
      <ion-spinner *ngIf="loading" name="circles"></ion-spinner>
    </ion-button>

    <ion-button slot="end" fill="clear" style="margin:0px;" color="success" (click)="abrirAyuda()">
      <ion-icon name="help"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h3>{{name}}</h3>

  <!-- Section to add a new element -->

  <div *ngIf="addingElement">
    Adding Element. Please Wait...
  </div>


  <!-- Retrieving information -->
  <div *ngIf="loading">
    <ion-spinner name="circles"></ion-spinner>
  </div>


  <!-- Section to display information -->
  <div *ngIf="!loading">
    <!-- Error while retrieving information -->
    <div *ngIf="error">
      <h4>An error ocurred while retrieving information.</h4>
      <ion-button (click)="getPage(1)">Retry</ion-button>
    </div>

    <!-- Display retrieved information -->
    <div *ngIf="!error">

      <!-- If there is information -->
      <ion-list *ngIf="loaded">
        <div style="margin-bottom: 20px;">
          <app-product-info (deleteEvent)="deleteElement($event)" (updateEvent)="updateElement($event)"
            *ngFor="let product of products" [product]="product"></app-product-info>
        </div>
        <div class="botones" style="margin-bottom: 10px">
          <ion-button *ngIf="previousPage" (click)="getPreviousPage()" style="margin: 5px">
            <ion-icon name="arrow-back"></ion-icon>
            <ion-label style="font-size: x-small; margin-left: 2px;">Previous Page</ion-label>
          </ion-button>
          <ion-button *ngIf="nextPage" (click)="getNextPage()" style="margin: 5px">
            <ion-label style="font-size: x-small; margin-right: 2px;">Next Page</ion-label>
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-button>
        </div>
      </ion-list>

      <!-- If there is no information -->
      <div *ngIf="!loaded">
        <h4>There is no data to show.</h4>
        <ion-button (click)="getPage(1)">Reload</ion-button>
      </div>
    </div>

  </div>
</ion-content>