<ion-header [translucent]="true">
  <ion-toolbar color="dark barra">
    <ion-title>
      {{name}}
    </ion-title>

    <ion-button slot="end" fill="clear" style="margin:0px;" color="secondary" [disabled]="addingElement"
      (click)="abrirModal(true, true)">
      <ion-icon *ngIf="!addingElement" [name]="iconAdd"></ion-icon>
      <ion-spinner *ngIf="addingElement" name="circles"></ion-spinner>
    </ion-button>

    <ion-button slot="end" fill="clear" style="margin:0px;" color="warning" [disabled]="loading"
      (click)="reloadCurrentPage()">
      <ion-icon *ngIf="!loading" name="refresh"></ion-icon>
      <ion-spinner *ngIf="loading" name="circles"></ion-spinner>
    </ion-button>

    <ion-button slot="end" fill="clear" style="margin:0px;" color="success" (click)="abrirAyuda()">
      <ion-icon name="help"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="addingElement">
    Agregando Elemento. Por favor espere...
  </div>

  <!-- Recolectando Información -->
  <div *ngIf="loading">
    <ion-spinner name="circles"></ion-spinner>
  </div>

  <!-- Sección para mostrar información -->
  <div *ngIf="!loading">
    <!-- Error -->
    <div *ngIf="error" style="text-align: center;">
      <h4>Ha ocurrido un error mientras se recolectaba la información.</h4>
      <ion-button (click)="reloadCurrentPage()">Reintentar</ion-button>
    </div>

    <!-- Petición correcta -->
    <div *ngIf="!error">

      <!-- Información recolectada -->
      <ion-list *ngIf="loaded">
        <div style="margin-bottom: 20px;">
          <app-product-info (deleteEvent)="deleteElement($event)" (updateEvent)="updateElement($event)"
            *ngFor="let product of products" [product]="product"></app-product-info>
        </div>

        <div class="botones" style="margin-bottom: 10px">
          <ion-button *ngIf="previousPage" (click)="getPreviousPage()" style="margin: 5px">
            <ion-icon name="arrow-back"></ion-icon>
            <ion-label style="font-size: x-small; margin-left: 2px;">Anterior</ion-label>
          </ion-button>

          <ion-button *ngIf="nextPage" (click)="getNextPage()" style="margin: 5px">
            <ion-label style="font-size: x-small; margin-right: 2px;">Siguiente</ion-label>
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-button>
        </div>
      </ion-list>

      <!-- Sin información -->
      <div *ngIf="!loaded" style="text-align: center;">
        <h4>No hay información que mostrar.</h4>
        <ion-button (click)="reloadCurrentPage()">Recargar</ion-button>
      </div>
    </div>

  </div>
</ion-content>