<ion-header [translucent]="true">
  <ion-toolbar color="dark barra">
    <ion-title>
      Login
    </ion-title>
    <ion-button slot="end" fill="clear" style="margin:0px;" color="danger" (click)="closeModal()">
      <ion-icon name="close" style="font-size: 28px;"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-icon name="person-circle" class="content"></ion-icon>

  <ion-item id="user">
    <ion-label color="primary" position="stacked">Usuario</ion-label>
    <ion-input type="text" [(ngModel)]="user" [readonly]="logedOn"></ion-input>
  </ion-item>

  <ion-item *ngIf="signUpView">
    <ion-label color="primary" position="stacked">Correo</ion-label>
    <ion-input type="email" [(ngModel)]="email" [readonly]="logedOn"></ion-input>
  </ion-item>

  <ion-item *ngIf="!logedOn">
    <ion-label color="primary" position="stacked">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password" [readonly]="logedOn"></ion-input>
  </ion-item>

  <div style="text-align: center; margin: 40px 10px;">
    <ion-button *ngIf="!logedOn && !signUpView" (click)="login()" expand="block" fill="outline">
      <span *ngIf="!loading">Ingresar</span>
      <span *ngIf="loading"><ion-spinner name="circles"></ion-spinner></span>

    </ion-button>
    <ion-button *ngIf="!logedOn && !signUpView" (click)="changeToSingUpView()" expand="block" fill="outline" color="secondary">
      Registrarte
    </ion-button>
    <ion-button *ngIf="signUpView" (click)="addUser()" expand="block" fill="outline" color="primary">
      Registrarte
    </ion-button>
    <ion-button *ngIf="signUpView" (click)="changeToLoginView()" expand="block" fill="outline" color="secondary">
      Cancelar
    </ion-button>
    <ion-button *ngIf="logedOn && !signUpView" (click)="cerrarSesion()" fill="outline">
      Cerrar Sesion
    </ion-button>
  </div>

</ion-content>
