ion-item-divider{
    font-size: 16px;
    --background: var(--ion-color-tertiary);
    border-radius: 12px;
    color: white;
    font-weight: bolder;
}

ion-item{
    text-align: justify;
}

ion-text{
    margin: 10px 0px;
}