ion-content {
    text-align: center;
  }
  
  ion-button{
    margin: 0px;
  }

  h3{
    margin: 20px 40px;
    font-size: 30px;
    font-weight: bolder;
    height: 45px;
    color: darkblue;
    border-style: solid;
    border-radius: 12px;
    border-color: blue;
  }

  h4{
    margin: 200px 10px 10px 10px;
    color: darkslategrey;
    border-radius: 12px;
  }
