<ion-header [translucent]="true">
  <ion-toolbar color="dark barra">
    <ion-button slot="start" fill="clear" style="margin:0px;" color="warning" routerLink="/tabs/home-tab">
      <ion-icon name="arrow-back-outline" style="font-size: 28px;"></ion-icon>
    </ion-button>
    <ion-title>
      Repositorio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="text-align: center;">
    <ion-icon name="logo-github" class="content"></ion-icon>
  </div>

  <div style="text-align: center;">
  <ion-button fill="outline" color="dark" href="https://github.com/AngelTejeda/Backend-PIA.git">
    <b>Ir al Repositorio</b>
  </ion-button>
</div>

</ion-content>
